<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>uploaded products</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home-shop.css">
</head>

<body>
    <!-- BARRA DE NAVEGACION -->
    <%- include('./partials/reducedHeader')  %> 
    <!-- MAIN -->
    <main>
        <section class="ofertas">
            <a href="#">
                <h3>Productos subidos</h3>
            </a>
            <div class="productos">

                <% for(let index = 0; index < productos.length; index++) { %>
                    <article>  
                        <a href="/products/<%= productos[index].id %>">
                            <img src="/images/<%= productos[index].image %>" alt="pesas-negro">
                            <div class="main-article">
                                <div class="div-precio-descuento">
                                    <p class="precio"><%= productos[index].price %></p>
                                    <p class="descuento"><%= productos[index].discount %></p>
                                </div>
                                <h4 class="descripcion"><%= productos[index].name %></h4>
                                 <form action="/products/<%= productos[index].id %>?_method=DELETE" method="post" class="form-mis-productos">
                                    <button type="submit" class="boton-eliminar icono-eliminar">
                                    <div class="contenedor-icono-eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </div>
                                </button>
                                <div class="contenedor-icono-editar">
                                    <a href="/products/edit/<%= productos[index].id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                </div>
                                </form>
                            </div>
                        </a>
                </article>
                <% } %>
            </div>
        </section>


        
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
    
</body>

</html>