<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head') %>
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css">
  
</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/reducedHeader')  %>
    <!-- FORMULARIO -->
    <form class="form-register" action="/users" method="post" enctype="multipart/form-data">
    <h4>Formulario Registro</h4>

    <% if (locals.errors && errors.firstName) { %>
      <div class="text-danger">
        <%= errors.firstName.msg %> 
      </div>
    <% } %>

    <div class="user-name">
    <input class="controls" type="text" name="firstName" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.firstName : null %>"><i class="fa-solid fa-user"></i>
    </div>
  

    <% if (locals.errors && errors.email) { %>
      <div class="text-danger">
        <%= errors.email.msg %> 
      </div>
    <% } %>

    <div class="correo-electronico">
    <input class="controls" type="email" name="email" placeholder=" Correo" value="<%= locals.oldData ? oldData.email : null %>"><i class="fa-solid fa-envelope"></i>
    </div>

    
    <% if (locals.errors && errors.password) { %>
      <div class="text-danger">
        <%= errors.password.msg %> 
      </div>
    <% } %>

    <div class="contrasenia">
    <input class="controls" type="password" name="password" placeholder="Contraseña"><i class="fa-solid fa-key"></i>
    </div>


    <% if (locals.errors && errors.passwordConfirmed) { %>
      <div class="text-danger">
        <%= errors.passwordConfirmed.msg %> 
      </div>
    <% } %>

    <div class="contrasenia">
        <input class="controls" type="password" name="passwordConfirmed" placeholder="Confirme su contraseña"><i class="fa-solid fa-key"></i>
    </div>

      
    <% if (locals.errors && errors.image) { %>
      <div class="text-danger">
        <%= errors.image.msg %>
      </div>
    <% } %>

    <div class="div-image">
      <input class="controls imagen-usuario" name="image" type="file">
      <i class="fa-solid fa-image"></i>
    </div>

    
    <input class="botons" type="submit" value="Registrar">
    <p><a href="/users/login">¿Ya tengo Cuenta?</a></p>
  </form>
</body>
</html>