<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/formulario-de-carga.css">
    <title>Creación de producto</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header')  %>
    <!-- FORMULARIO -->

<form class="datos" action="/products/create" method="post" enctype="multipart/form-data">

    <% if (locals.errors && errors.image) { %>
        <div class="text-danger">
          <%= errors.image.msg %>
        </div>
      <% } %>
<input class="controls imagen-producto" name="image" type="file">

    <h2>Mas datos sobre el producto a subir</h2>

<div class="datos-adicionales">

    <% if (locals.errors && errors.name) { %>
        <div class="text-danger">
          <%= errors.name.msg %> 
        </div>
      <% } %>
    <input type="text" name="name" placeholder="Nombre del producto" class="input" value="<%= locals.oldData ? oldData.name : null %>">

    <% if (locals.errors && errors.price) { %>
        <div class="text-danger">
          <%= errors.price.msg %> 
        </div>
      <% } %>
    <input type="text" name="price" placeholder="Precio del producto" class="input" value="<%= locals.oldData ? oldData.price : null %>">

    <input type="text" name="discount" placeholder="Descuento del producto(opcional)" class="input">

    <% if (locals.errors && errors.description) { %>
        <div class="text-danger">
          <%= errors.description.msg %> 
        </div>
      <% } %>
    <input type="text" name="description" placeholder="Descripcion del producto" class="input" value="<%= locals.oldData ? oldData.description : null %>">

</div>

<input class="button" type="submit" value="Subir">

</form>

</body>
</html>